.navbar{
    top: 0;
    left: 0;
    padding: 12px 34px;
    text-align: center;
    width:100%;
    background-color: #282c34;
    position: absolute;
  }
  .navbar img{
    margin-top: 5px;
    width: 100px;
  }